// VARIABLES
////////////////////////////////////////////////////////////////////////////////
$border-color-1: rgba(224, 224, 224, 0.75);
$border-color-2: #e0e0e0;
$box-shadow-1: 5px 5px 20px rgba(0, 0, 0, 0.1);
$box-shadow-2: 5px 5px 20px rgba(0, 0, 0, 0.15);
$box-shadow-3: 5px 5px 20px rgba(0, 0, 0, 0.3);
$box-shadow-4: 5px 5px 20px rgba(0, 0, 0, 0.5);
$text-color: rgba(0, 0, 0, 0.8);
$error: rgb(190, 40, 40);
$link: #0070c9;
$gray-text-1: rgba(60, 60, 67, 0.4);
$gray-text-2: rgba(60, 60, 67, 0.6);

// GENERAL
////////////////////////////////////////////////////////////////////////////////
// html,
// body {
//     height: 100%;
// }

html,
input {
    font-family: "Open Sans", sans-serif;
    color: rgba(0, 0, 0, 0.8);
}

body {
    line-height: 1.5;
}

a,
a:link,
a:visited {
    color: $link;
}

h1,
h2,
h3 {
    line-height: 1.2;
    letter-spacing: 0.005em;
    margin-bottom: 10px;
}

h1 {
    font-size: 34px;
    font-weight: 700;
}

h2 {
    font-size: 26px;
    font-weight: 700;
}

h3 {
    font-size: 20px;
    font-weight: 700;
}

.pointer:hover {
    cursor: pointer;
}

// APP
////////////////////////////////////////////////////////////////////////////////

// #app {
//     max-width: 1200px;
//     margin: 0 auto;
//     padding: 25px;
//     border: 2px solid $border-color-1;
// }

// HEADER
////////////////////////////////////////////////////////////////////////////////

header {
    position: sticky;
    top: 0;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(142, 179, 177, 1);
}

#header-left {
    flex: 0 0 175px;
    margin-right: 25px;
}

#avatar {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

#header-right {
}

#title {
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
}

#subtitle {
    color: white;
}

#nav {
    display: flex;
}

// MAIN
////////////////////////////////////////////////////////////////////////////////

.section {
    padding: 10px;
    border: 2px solid $border-color-1;
    border-radius: 7.5px;
    margin-bottom: 25px;
}

// HOME
////////////////////////////////////////////////////////////////////////////////

#post-feed {
}

#post-feed-filter {
    display: flex;
}

#post-feed-type-list {
    display: flex;
}

#post-feed-list {
    display: flex;
    flex-flow: row wrap;
    padding: 0 12.5px;
}

.post-feed-list-item {
    flex: 1 1 20%;
    margin: 12.5px;
}

.post-feed-list-item.music {
    flex-grow: 0;
    filter: grayscale(0.5);
}

#post-feed-list li img {
    height: 100%;
    width: 100%;
}
