html,
input {
  font-family: "Open Sans", sans-serif;
  color: #29363b; }

body {
  line-height: 1.5; }

a,
a:link,
a:visited {
  color: #0070c9; }

h1,
h2,
h3 {
  line-height: 1.2;
  letter-spacing: 0.005em; }

h1 {
  font-size: 34px;
  font-weight: 700; }

h2 {
  font-size: 26px;
  font-weight: 700; }

h3 {
  font-size: 20px;
  font-weight: 700; }

.pointer:hover {
  cursor: pointer; }

#root {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory; }

.section {
  min-height: 100vh;
  scroll-snap-align: start; }

.section-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0; }

.section-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between; }

.section-title {
  font-family: "Oswald", sans-serif;
  font-size: 36px; }

#about {
  background-color: #f3f6f5;
  display: flex;
  align-items: center; }

#about .section-inner {
  background-color: #f3f6f5;
  position: relative;
  padding: 50px;
  border-radius: 25px;
  box-shadow: 5px 5px 20px rgba(46, 16, 16, 0.5);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  opacity: 0; }

#about .section-inner.animated {
  animation: fade-in 1.5s ease-out 1.5s both; }

#about-background {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  pointer-events: none; }

#about-background .slice {
  flex: 1 1 20%;
  transform: translateY(-100%);
  animation: slice-in 0.4s linear 1 both; }

#about-background .slice:nth-of-type(1) {
  background-color: #29363b; }

#about-background .slice:nth-of-type(2) {
  background-color: #ea495f; }

#about-background .slice:nth-of-type(3) {
  background-color: #f4837d; }

#about-background .slice:nth-of-type(4) {
  background-color: #fdcea9; }

#about-background .slice:nth-of-type(5) {
  background-color: #99b998; }

#about-image {
  width: 175px;
  border-radius: 50%; }

#project-feed {
  position: relative;
  background-color: #f3f6f5; }

#project-feed .section-inner {
  height: 100%; }

#project-feed-type-list {
  display: flex;
  border-bottom: 3px solid #31244e; }

.project-feed-type-list-item {
  text-transform: uppercase;
  padding: 5px 15px;
  transition: all 0.2s;
  font-weight: 700;
  border-radius: 7.5px 7.5px 0 0; }

.project-feed-type-list-item.active {
  background-color: #31244e;
  color: white;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3); }

#project-feed-list {
  margin: 0 -25px;
  padding: 12.5px;
  display: flex;
  flex-wrap: wrap; }

.project-feed-list-item {
  position: relative;
  background: no-repeat center/cover;
  margin: 25px 12.5px;
  height: 375px;
  border-radius: 7.5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  transition: all 0.2s;
  opacity: 0;
  animation: fade-in 0.3s ease-out forwards; }

.project-feed-list-item:after {
  content: "";
  display: block; }

.project-feed-list-item.code {
  flex: 1 1 calc(50% - 25px); }

.project-feed-list-item.code:after {
  padding-bottom: 52.65%; }

.project-feed-list-item.music {
  flex: 0 0 calc(33.33333% - 25px); }

.project-feed-list-item.music:after {
  padding-bottom: 100%; }

.project-feed-list-item:hover {
  transform: perspective(2000px) rotateX(10deg); }

.project-feed-list-item:hover .project-overlay {
  opacity: 1; }

.project-feed-list-item:hover .project-overlay-inner {
  transform: translateY(0); }

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  opacity: 0;
  transition: all 0.1s; }

.project-overlay .project-overlay-inner {
  text-transform: uppercase;
  transform: translateY(25px);
  transition: all 0.3s; }

.project-overlay .project-overlay-inner:last-child {
  display: flex;
  justify-content: space-between; }

.project-overlay .project-overlay-inner .project-title,
.project-overlay .project-overlay-inner .project-date,
.project-overlay .project-overlay-inner .project-type {
  display: inline-block;
  padding: 7.5px 12.5px;
  background-color: #474747;
  border-radius: 7.5px;
  letter-spacing: 1.1px;
  color: white;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3); }

.project-overlay .project-overlay-inner .project-title {
  font-size: 22px;
  text-align: center; }

.project-overlay .project-overlay-inner .project-date,
.project-overlay .project-overlay-inner .project-type {
  font-weight: 700; }

#project-detail-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  min-height: 800px;
  width: calc(100% + 50px);
  margin: -25px;
  padding: 25px;
  background-color: white;
  z-index: 1;
  transform: translateY(-100%);
  transition: all 0.4s;
  align-items: center; }

#project-detail-container.active {
  transform: translateY(0%); }

.detail-close {
  position: absolute;
  top: 25px;
  right: 25px;
  height: 50px;
  width: 50px; }

#project-detail-info {
  flex: 0 0 50%; }

#project-detail-image {
  flex: 0 0 50%; }

#project-detail-image img {
  border-radius: 25px;
  max-height: 100%;
  max-width: 100%;
  box-shadow: 25px 25px 25px rgba(0, 0, 0, 0.3); }

@keyframes slice-in {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(25px); }
  to {
    opacity: 1;
    transform: translateY(0); } }
