// VARIABLES
////////////////////////////////////////////////////////////////////////////////
$main-color: rgba(142, 179, 177, 1);
$border-color-1: rgba(224, 224, 224, 0.75);
$border-color-2: #e0e0e0;
$box-shadow-1: 5px 5px 20px rgba(0, 0, 0, 0.1);
$box-shadow-2: 5px 5px 20px rgba(0, 0, 0, 0.15);
$box-shadow-3: 5px 5px 20px rgba(0, 0, 0, 0.3);
$box-shadow-4: 5px 5px 20px rgba(0, 0, 0, 0.5);
$text-color: rgba(0, 0, 0, 0.8);
$error: rgb(190, 40, 40);
$link: #0070c9;
$gray-text-1: rgba(60, 60, 67, 0.4);
$gray-text-2: rgba(60, 60, 67, 0.6);

// GENERAL
////////////////////////////////////////////////////////////////////////////////
// html,
// body {
//     height: 100%;
// }

html,
input {
    font-family: "Open Sans", sans-serif;
    color: rgba(0, 0, 0, 0.8);
}

body {
    line-height: 1.5;
}

a,
a:link,
a:visited {
    color: $link;
}

h1,
h2,
h3 {
    line-height: 1.2;
    letter-spacing: 0.005em;
    margin-bottom: 10px;
}

h1 {
    font-size: 34px;
    font-weight: 700;
}

h2 {
    font-size: 26px;
    font-weight: 700;
}

h3 {
    font-size: 20px;
    font-weight: 700;
}

.pointer:hover {
    cursor: pointer;
}

// APP
////////////////////////////////////////////////////////////////////////////////

// #app {
//     max-width: 1200px;
//     margin: 0 auto;
//     padding: 25px;
//     border: 2px solid $border-color-1;
// }

// HEADER
////////////////////////////////////////////////////////////////////////////////

header {
    position: sticky;
    top: 0;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $main-color;
    z-index: 10;
}

#header-left {
    flex: 0 0 175px;
    margin-right: 25px;
}

#avatar {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

#header-right {
}

#title {
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
}

#subtitle {
    color: white;
}

#nav {
    display: flex;
}

// MAIN
////////////////////////////////////////////////////////////////////////////////

.section {
    padding: 10px;
    border: 2px solid $border-color-1;
    border-radius: 7.5px;
    margin-bottom: 25px;
}

// HOME
////////////////////////////////////////////////////////////////////////////////

#post-feed {
    position: relative;
}

#post-feed-filter {
    display: flex;
}

#post-feed-type-list {
    display: flex;
}

#post-feed-list {
    padding: 12.5px;
    display: flex;
    flex-wrap: wrap;
}

.post-feed-list-item {
    position: relative;
    background: no-repeat center/cover;
    margin: 25px 12.5px;
    border-radius: 7.5px;
    box-shadow: $box-shadow-2;
    max-width: 50%;
    overflow: hidden;
}

.post-feed-list-item:after {
    content: "";
    display: block;
}

.post-feed-list-item.code {
    flex: 1 0 calc(33.3333% - 25px);
}

.post-feed-list-item.code:after {
    padding-bottom: 52.65%;
}

.post-feed-list-item.music {
    flex: 1 1 calc(25% - 25px);
}

.post-feed-list-item.music:after {
    padding-bottom: 100%;
}

.post-overlay {
    position: absolute;
    top: 5%;
    left: 0;
    height: 100%;
    width: 100%;
    // background-image: linear-gradient(
    //     rgba(255, 255, 255, 0.9),
    //     rgba(255, 255, 255, 0)
    // );

    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    opacity: 0;
    transition: all 0.2s;
}

.post-feed-list-item:hover .post-overlay {
    top: 0;
    opacity: 1;
}

.post-overlay-bottom,
.post-overlay-top {
    text-transform: uppercase;
}

.post-overlay-top {
    font-size: 22px;
    font-weight: 700;
}

.post-overlay-bottom {
    display: flex;
    justify-content: space-between;
    font-weight: 900;
}

.post-title,
.post-date,
.post-type {
    background-color: #474747;
    padding: 7.5px;
    border-radius: 7.5px;
    color: white;
    box-shadow: $box-shadow-3;
}

#post-detail-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 1;
    transform: translateY(-100%);
    transition: all 0.4s;
}

#post-detail-container.active {
    transform: translateY(0%);
}
