html,
input {
  font-family: "Open Sans", sans-serif;
  color: rgba(0, 0, 0, 0.8); }

body {
  line-height: 1.5; }

a,
a:link,
a:visited {
  color: #0070c9; }

h1,
h2,
h3 {
  line-height: 1.2;
  letter-spacing: 0.005em;
  margin-bottom: 10px; }

h1 {
  font-size: 34px;
  font-weight: 700; }

h2 {
  font-size: 26px;
  font-weight: 700; }

h3 {
  font-size: 20px;
  font-weight: 700; }

.pointer:hover {
  cursor: pointer; }

header {
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8eb3b1; }

#header-left {
  flex: 0 0 175px;
  margin-right: 25px; }

#avatar {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%; }

#title {
  font-family: "Oswald", sans-serif;
  font-size: 60px;
  font-weight: 600;
  color: white;
  text-transform: uppercase; }

#subtitle {
  color: white; }

#nav {
  display: flex; }

.section {
  padding: 10px;
  border: 2px solid rgba(224, 224, 224, 0.75);
  border-radius: 7.5px;
  margin-bottom: 25px; }

#post-feed-filter {
  display: flex; }

#post-feed-type-list {
  display: flex; }

#post-feed-list {
  padding: 12.5px;
  display: flex;
  flex-wrap: wrap; }

.post-feed-list-item {
  position: relative;
  background: no-repeat center/cover;
  margin: 25px 12.5px;
  border-radius: 7.5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
  max-width: 50%;
  overflow: hidden; }

.post-feed-list-item:after {
  content: "";
  display: block; }

.post-feed-list-item.code {
  flex: 1 0 calc(33.3333% - 25px); }

.post-feed-list-item.code:after {
  padding-bottom: 52.65%; }

.post-feed-list-item.music {
  flex: 1 1 calc(25% - 25px); }

.post-feed-list-item.music:after {
  padding-bottom: 100%; }

.post-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.8));
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.2s; }

.post-feed-list-item:hover .post-overlay {
  opacity: 1; }

.post-overlay-bottom,
.post-overlay-top {
  text-transform: uppercase; }

.post-overlay-top {
  font-size: 22px;
  font-weight: 700; }

.post-overlay-bottom {
  display: flex;
  justify-content: space-between;
  font-weight: 900; }

.post-date,
.post-type {
  background-color: #8eb3b1;
  padding: 7.5px;
  border-radius: 7.5px;
  color: white;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15); }
