// VARIABLES
////////////////////////////////////////////////////////////////////////////////
$color-white: rgba(243, 246, 245, 1);
$color-black: #33393b;
$color-blue1: #005073;
$color-blue2: #107dac;
$color-blue3: #189ad3;
$color-blue4: #71c7ec;
$error: rgb(190, 40, 40);

$border-color-1: rgba(224, 224, 224, 0.75);
$border-color-2: #e0e0e0;
$box-shadow-1: 0px 0px 20px rgba(0, 0, 0, 0.1);
$box-shadow-2: 0px 0px 20px rgba(0, 0, 0, 0.15);
$box-shadow-3: 0px 0px 20px rgba(0, 0, 0, 0.3);
$box-shadow-4: 0px 0px 20px rgba(46, 16, 16, 0.5);
$gray-text-1: rgba(60, 60, 67, 0.4);
$gray-text-2: rgba(60, 60, 67, 0.6);

$tablet: 1000px;
$mobile: 700px;

// GENERAL
////////////////////////////////////////////////////////////////////////////////
html,
input {
    font-family: "Poppins", sans-serif;
    color: $color-black;
}

body {
    line-height: 1.5;
}

a,
a:link,
a:visited {
    color: $color-blue2;
}

h1,
h2,
h3 {
    line-height: 1.2;
    letter-spacing: 0.02em;
}

h1 {
    font-size: 34px;
    font-weight: 700;
}

h2 {
    font-size: 26px;
    font-weight: 600;
}

h3 {
    font-size: 20px;
    font-weight: 700;
}

.pointer:hover {
    cursor: pointer;
}

#root {
    position: relative;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    background-color: rgb(240, 240, 240);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

// SECTION
////////////////////////////////////////////////////////////////////////////////

.section {
    height: 100%;
    position: relative;
    padding: 50px 25px;
    scroll-snap-align: start;

    @media only screen and (max-width: $mobile) {
        padding: 25px;
    }
}

.section-inner {
    max-width: 1280px;
    margin: 0 auto;
}

.section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.section-title {
    font-size: 36px;

    @media only screen and (max-width: $mobile) {
        font-size: 30px;
    }
}

// HOME
////////////////////////////////////////////////////////////////////////////////

#home {
    padding: 0;
    display: flex;
    align-items: center;
    overflow: hidden;

    .section-inner {
        background-color: $color-white;
        position: relative;
        padding: 30px 50px;
        border-radius: 7.5px;
        box-shadow: 0px 10px 35px rgba(46, 16, 16, 0.25);
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        opacity: 1;

        @media only screen and (max-width: $mobile) {
            max-width: 90%;
            padding: 30px 35px;
        }

        &.animated {
            animation: fade-up 0.75s ease-out 1.5s both;
        }

        #home-image {
            width: 115px;
            border-radius: 50%;
            margin-bottom: 15px;
        }

        h1 {
            font-size: 44px;
            font-weight: 700;
            text-transform: uppercase;
        }

        p {
            text-align: center;
            font-size: 20px;
        }

        .line {
            height: 3px;
            width: 0;
            margin: 12.5px 0;
            background-color: $color-blue2;
            transition: all 0.75s;

            &.active {
                width: 100%;
            }
        }

        ul {
            width: 100%;
            text-transform: uppercase;
            display: flex;
            justify-content: space-between;
            opacity: 0;
            transition: all 0.75s;

            li {
                position: relative;

                a {
                    font-size: 16px;
                    font-weight: 600;
                    color: $color-black;
                    transition: all 0.2s;

                    &:hover {
                        color: rgba(51, 57, 59, 0.85);
                    }
                }
            }

            &.active {
                opacity: 1;
            }
        }
    }

    .home-arrow {
        position: absolute;
        bottom: 0;
        left: calc(50% - 62.5px);
        z-index: 5;
        height: 125px;
        width: 125px;
        fill: $color-white;
        transition: all 0.4s;
        opacity: 1;
        animation: fade-up 1s ease-out 3s backwards;

        &:hover {
            fill: $color-black;
        }

        &.inactive {
            opacity: 0;
            pointer-events: none;
        }
    }
}

#home-background {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    pointer-events: none;
    overflow: hidden;

    .slice {
        flex: 1 1 20%;

        &:nth-of-type(1) {
            background-color: $color-black;
        }
        &:nth-of-type(2) {
            background-color: $color-blue1;
        }
        &:nth-of-type(3) {
            background-color: $color-blue2;
        }
        &:nth-of-type(4) {
            background-color: $color-blue3;
        }
        &:nth-of-type(5) {
            background-color: $color-blue4;
        }

        &.animated {
            animation: slice-in 0.4s linear 1 both;
        }
    }
}

// PROJECTS
////////////////////////////////////////////////////////////////////////////////

#projects {
    position: relative;
    background-color: $color-white;
    box-shadow: 0 0 10px 2.5px rgba(0, 0, 0, 0.25);

    .section-inner {
        height: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        opacity: 0;
        transition: all 1.5s;

        &.active {
            opacity: 1;
        }

        .section-header,
        #project-nav {
            flex: none;
        }
    }

    #project-type-list {
        display: flex;
        border-bottom: 3px solid $color-blue1;

        .project-type-list-item {
            text-transform: uppercase;
            padding: 5px 15px;
            transition: all 0.2s;
            font-weight: 600;
            border-radius: 7.5px 7.5px 0 0;

            @media only screen and (max-width: $mobile) {
                padding: 2.5px 10px;
                font-size: 14px;
            }

            &.active {
                color: $color-white;
                font-weight: 700;
                background-color: $color-blue1;
                box-shadow: $box-shadow-3;
            }
        }
    }

    #project-list {
        flex: 1 1;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 25px 25px;

        //width // cols
        @media only screen and (max-width: 1100px) {
            grid-template-columns: repeat(2, 1fr);
        }

        //height // rows
        @media only screen and (max-height: 650px) {
            grid-template-rows: repeat(1, 1fr);
        }

        @media only screen and (max-height: 650px) and (max-width: 400px) {
            grid-template-rows: repeat(2, 1fr);
            gap: 10px 10px;
        }

        .project-list-item {
            will-change: auto;
            position: relative;
            background: no-repeat center/cover;
            border-radius: 7.5px;
            box-shadow: $box-shadow-2;
            transition: all 0.2s;
            overflow: hidden;
            opacity: 0;
            animation: fade-up 0.3s ease-out forwards;

            &:after {
                content: "";
                display: block;
                padding-bottom: 100%;
            }

            .project-overlay {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                padding: 20px;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                align-items: flex-start;
                opacity: 0;
                transition: all 0.1s;

                .project-overlay-inner {
                    display: inline-block;
                    padding: 12.5px 12.5px;
                    background-color: $color-black;
                    border-radius: 7.5px;
                    letter-spacing: 1.1px;
                    color: $color-white;
                    box-shadow: $box-shadow-3;
                    transform: translateY(25px);
                    transition: all 0.3s;

                    &:first-child {
                        letter-spacing: 0.1rem;

                        .divider {
                            width: 100%;
                            height: 2px;
                            margin: 10px 0;
                        }

                        h2,
                        h3 {
                            display: inline-block;
                        }

                        h2 {
                            font-weight: 500;
                        }

                        h3 {
                            font-weight: 400;
                        }
                    }

                    &:last-child {
                        font-weight: 500;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .project-type {
                            font-weight: 600;
                            color: $color-white;
                            padding: 2.5px 7.5px;
                            border-radius: 5px;
                        }
                    }
                }

                &.music {
                    .divider,
                    .project-type {
                        background-color: $color-blue3;
                    }
                }

                &.code {
                    .divider,
                    .project-type {
                        background-color: purple;
                    }
                }
            }

            @media only screen and (min-width: $mobile) {
                &:hover {
                    .project-overlay {
                        opacity: 1;
                    }

                    .project-overlay-inner {
                        transform: translateY(0);
                    }
                }
            }
        }
    }
}

#project-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;

    .project-nav-btn {
        padding: 5px 15px;
        font-weight: 700;
        color: $color-white;
        background-color: $color-blue1;
        transition: all 0.2s;
        box-shadow: $box-shadow-3;

        @media only screen and (max-width: $mobile) {
            padding: 5px 10px;
            font-size: 14px;
        }

        &:first-child {
            border-right: 1px solid $color-white;
            border-radius: 7.5px 0 0 7.5px;
        }

        &:last-child {
            border-left: 1px solid $color-white;
            border-radius: 0 7.5px 7.5px 0;
        }

        &.inactive {
            box-shadow: $box-shadow-1;
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
}

#project-detail-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 20;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    #project-detail-inner {
        position: relative;
        width: 65%;
        max-width: 900px;
        max-height: 80%;
        overflow-y: scroll;
        padding: 25px 50px;
        background-color: $color-white;
        border-radius: 7.5px;
        box-shadow: 0px 10px 35px rgba(46, 16, 16, 0.25);
        animation: fade-in 0.2s linear forwards;

        @media only screen and (max-width: $tablet) {
            width: 75%;
        }

        @media only screen and (max-width: $mobile) {
            width: 100%;
            max-height: 100%;
            height: 100%;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            border-radius: 0;
            padding: 25px;
        }

        .detail-close {
            position: absolute;
            top: 10px;
            right: 10px;
            fill: $color-black;
            height: 35px;
            width: 35px;
            transition: all 0.2s;

            &:hover {
                opacity: 0.75;
                transform: scale(1.1);
            }
        }

        & > *:not(:last-child) {
            margin-bottom: 25px;
        }

        #project-detail-header {
            @media only screen and (max-width: $mobile) {
                text-align: center;
            }

            #project-detail-title {
            }

            #project-detail-subtitle {
                font-weight: 500;
                margin: 5px 0;
                // color: rgba(0, 0, 0, 0.65);
            }

            #project-detail-date {
                display: block;
            }
        }

        #project-detail-image {
            width: 100%;
            border-radius: 7.5px;
        }

        #project-detail-video {
            position: relative;
            padding-bottom: 56.25%;
            height: 0;
            overflow: hidden;
            border-radius: 7.5px;

            iframe,
            object,
            embed {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }

        #project-detail-content {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media only screen and (max-width: $mobile) {
                flex-direction: column;
                text-align: center;
            }

            #project-detail-text {
                @media only screen and (max-width: $mobile) {
                    margin-bottom: 5px;
                }

                @media only screen and (min-width: $mobile) {
                    margin-right: 20px;
                }
            }

            #project-detail-links {
                display: flex;

                .project-detail-link-item {
                    &:not(:last-child) {
                        margin-right: 7.5px;
                    }

                    img {
                        width: 30px;
                        height: 30px;
                        transition: all 0.2s;

                        &:hover {
                            opacity: 0.75;
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }
}

// ABOUT
////////////////////////////////////////////////////////////////////////////////

#about {
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    display: flex;
    justify-content: center;
    overflow: scroll;

    .section-inner {
        display: flex;

        @media only screen and (max-width: $tablet) {
            flex-direction: column;
        }

        #about-content {
            align-self: flex-start;
            margin-right: 50px;

            @media only screen and (max-width: $tablet) {
                margin-right: 0;
                margin-bottom: 25px;
                align-self: center;
            }

            h3 {
                font-size: 24px;
            }

            .about-text {
                font-size: 22px;
                font-weight: 500;
                letter-spacing: 0.05rem;

                @media only screen and (max-width: $mobile) {
                    font-size: 18px;
                }
            }

            > *:not(:last-child) {
                margin-bottom: 25px;
            }
        }

        #about-banner {
            padding: 40px;
            border-radius: 25px;
            background-color: $color-black;
            color: $color-white;
            align-self: flex-end;
            margin-left: 50px;
            box-shadow: $box-shadow-1;

            @media only screen and (max-width: $tablet) {
                margin-left: 0;
                margin-top: 25px;
                align-self: flex-end;
            }

            @media only screen and (max-width: $mobile) {
                width: 100%;
                align-self: center;
                padding: 30px;
            }

            h1 {
                margin-bottom: 25px;
                width: 250px;

                @media only screen and (max-width: $mobile) {
                    font-size: 28px;
                }
            }

            #about-links {
                display: flex;
                flex-wrap: wrap;
                text-transform: uppercase;
                font-size: 18px;
                font-weight: 500;

                li {
                    margin-right: 7.5px;
                    position: relative;

                    &:after {
                        content: "";
                        position: absolute;
                        bottom: -3px;
                        left: 0;
                        width: 0;
                        height: 2px;
                        background-color: $color-blue4;
                        transition: all 0.2s;
                    }

                    &:hover:not(:nth-child(even)) {
                        &:after {
                            width: 100%;
                        }
                    }

                    a {
                        color: $color-white;
                    }
                }
            }
        }
    }
}

// ANIMATIONS
////////////////////////////////////////////////////////////////////////////////

@keyframes slice-in {
    from {
        transform: translateY(-100%);
        // -webkit-transform: translateY(-100%);
        // -o-transform: translateY(-100%);
        // -moz-transform: translateY(-100%);
        // -ms-transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
        // -webkit-transform: translateY(0);
        // -o-transform: translateY(0);
        // -moz-transform: translateY(0);
        // -ms-transform: translateY(0);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-up {
    from {
        opacity: 0;
        transform: translateY(25px);
        // -webkit-transform: translateY(25px);
        // -o-transform: translateY(25px);
        // -moz-transform: translateY(25px);
        // -ms-transform: translateY(25px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
        // -webkit-transform: translateY(0);
        // -o-transform: translateY(0);
        // -moz-transform: translateY(0);
        // -ms-transform: translateY(0);
    }
}

@keyframes line-grow {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes scroll {
    0% {
        top: 800px;
    }
    100% {
        top: -800px;
    }
}
